/* --------------------importing google font poppins--------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------------------common styles or utilities ------------------------*/

html,
body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    max-width: 1360px;
    margin: 0 auto;
}

/* -----------------navbar section style----------------------- */

.nav-options {
    margin-left: 13.5%;
}

.navcourse-img {
    width: 30px;
}

.deals-img {
    width: 34px;
}

.register-img {
    width: 24px;
}

.nav-button {
    margin-left: 12%;
}

/* --------------------carousel section style--------------------- */

.carousel-part {
    height: 520px;
    margin-left: 7px;
}

.cover-1,
.cover-2,
.cover-3 {
    height: 520px;
    width: 99%;
    filter: brightness(0.5);
}

/*--------------------- course section style -------------------------*/

.course-class {
    margin-left: 5%;
}

.course-img {
    position: relative;
    right: 2.3%;
}

.see-course {
    margin-left: 38%;
}

.view {
    display: none;
}

/* -------------------e-learning section style-------------------- */

.work-zone {
    background-color: #F4FAFD;
    margin-top: 6%;
    padding-right: 4px;
    position: relative;
    right: 8px;
}

.working-img {
    width: 86%;
    height: 100%;
}

.man-beside-cap {
    margin-top: 6%;
}

.s-more {
    display: none;
}

.working-cap {
    font-size: 14px;
}

/* -----------------ready section style-------------------- */

.ready-join {
    background-color: #289BDE;
    padding: 4% 0;
    width: 96%;
}

/* -----------------successful student section----------------- */

.success-btn {
    margin-left: 46%;
}

/* ----------------student feedback section style--------------- */

.feedback {
    margin-left: 34%;
}

.awlad-shanta-feedback {
    position: relative;
    bottom: 7px;
}

.feedback-view-btn {
    display: none;
}

/*----------------- frequently asked question section------------ */

.faq {
    margin-left: 33%;
}

/* -------------------footer section style---------------------- */

footer {
    margin-top: 6%;
}

@media only screen and (max-width:539px) {

    /* -------------navbar section style----------------------- */

    .nav-options {
        margin-right: 17%;
    }

    .home-img1 {
        position: relative;
        left: 2%;
    }

    .course-img1 {
        position: relative;
        left: 1%;
    }

    .course-img {
        width: 10px !important;
    }

    .deals-img1 {
        position: relative;
        right: 3%;
    }

    .nav-button {
        margin-top: 2%;
        width: 40%;
        margin-left: 32%;
        margin-bottom: 3%;
    }

    /* ----------------------carousel section style---------------------- */

    .carousel-part {
        height: 530px;
        position: relative;
        right: 1%;
    }

    .carousel-caption>h5 {
        font-size: 30px;
        font-weight: 700 !important;
    }

    .carousel-caption>p {
        font-size: 11px;
        font-weight: 600;
        text-align: center;
    }

    /* --------------------popular course section------------------ */

    .popular-course>h2 {
        font-size: 30px;
    }

    .popular-course>p {
        font-size: 16px !important;
    }

    /* ------------------course class section style --------------------*/

    .each-course-sec {
        flex-direction: column;
        width: 94%;
        height: 550px;
        position: relative;
        right: 8%;
        border-radius: 10px !important;
    }

    .course-img {
        width: 106.4% !important;
        margin-left: 4.5% !important;
    }

    .course-text {
        margin-top: 7% !important;
        margin-right: 5%;
        margin: 0 10%;
        padding-left: 6%;
        text-align: left;
    }

    .course-text>h4 {
        font-size: 20px !important;
    }

    .course-text>small {
        font-size: 15px;
    }

    .course-text>h6 {
        font-size: 20px;
        margin-top: 3% !important;
    }

    .full-stackweb {
        margin-right: 12%;
    }

    .digital {
        position: relative;
        right: 7%;
    }

    .photography,
    .motion,
    .see-course {
        display: none !important;
    }

    .view {
        display: block;
        margin-left: 30%;
    }

    /* ----------------------working zone section-------------------- */

    .work-zone {
        flex-direction: column;
        margin-left: 5%;
    }

    .working-img {
        width: 100%;
    }

    .man-beside-cap {
        margin-left: 3%;
        margin-right: 1%;
    }

    .man-beside-cap>h4 {
        font-size: 27px !important;
    }

    .man-beside-cap>p {
        font-size: 14px;
        text-align: left;
    }

    .s-more {
        display: none;
    }

    .course-numeric {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .read-button {
        margin-bottom: 5%;
    }

    /* ---------------------ready join section style-------------------- */

    .ready-join-modal {
        flex-direction: column;
        text-align: center;
    }

    .join {
        font-size: 30px !important;
    }

    .read-demy {
        font-size: 16px;
        padding: 0 12px !important;
        color: whitesmoke !important;
    }

    .register-now {
        margin-top: 13%;
    }

    .name {
        margin-right: 54%;
    }

    .em {
        margin-right: 57%;
    }

    .pass {
        margin-right: 46%;
    }

    /* ------------------------success stories section style--------------------- */

    .success-stories>h2 {
        text-align: center;
        font-size: 27px;
    }

    .success-stories>p {
        margin-right: 4%;
        font-size: 16px;
        text-align: center;
    }

    .awlad-card {
        display: none;
    }

    .success-btn {
        position: relative;
        right: 10%;
    }

    /* ---------------feedback section style--------------------- */

    .feedback {
        text-align: center;
        font-size: 27px;
        position: relative;
        right: 17%;
    }

    .feedback-section>p {
        font-size: 16px;
    }

    .each-stu-feedback {
        flex-direction: column;
    }

    .each-stu-feedback1>p {
        text-align: justify;
    }

    .feedback-view-btn {
        display: block;
        margin-top: 5%;
        margin-left: 35%;
    }

    /* ----------------faq section style------------------ */

    .faq-section>h2 {
        text-align: center;
        font-size: 27px;
        position: relative;
        right: 17%;
    }

    .faq-section>p {
        font-size: 16px;
        padding: 0 6px;
    }

    /* ------------------trasted company section style-------------- */
    .trust-company {
        display: none;
    }

    /* -----------------footer section style --------------------*/

    .footer-pro {
        font-size: 30px !important;
    }

    .footer-add {
        font-size: 13px;
    }

}

@media only screen and (min-width:540px) and (max-width:992px) {

    /* ---------------navbar section style-------------- */

    .nav-options {
        margin-right: 20%;
    }

    .home-img1 {
        margin-left: 4%;
    }

    .course-img1 {
        margin-left: 8% !important;
    }

    .deals-img1 {
        margin-right: 3%;
    }

    .nav-button {
        width: 40%;
        margin-top: 2%;
        margin-left: 28%;
        margin-bottom: 3%;
    }

    /*---------------- carousel section style----------------- */

    .carousel-part {
        height: 530px;
        position: relative;
        right: 1%;
    }

    .carousel-caption>h5 {
        font-size: 30px;
        font-weight: 700 !important;
    }

    .carousel-caption>p {
        font-size: 14px;
        font-weight: 600;
        text-align: center;
    }

    /* ---------------popular course section style------------------ */

    .popular-course>h2 {
        font-size: 36px;
    }

    .popular-course>p {
        font-size: 14px !important;
        font-weight: 405px;
    }

    /* --------------------course class section style ---------------------*/

    .each-course-sec {
        position: relative;
        right: 7%;
        width: 95%;
    }

    .see-course {
        display: none;
    }

    .view {
        display: block;
        margin-left: 35%;
    }

    .photography,
    .motion {
        display: none !important;
    }

    /* ----------------working zone section style------------------ */

    .working-img {
        width: 120% !important;
    }

    .man-beside-cap {
        margin-left: 10%;
    }

    .man-beside-cap>h4 {
        font-size: 21px !important;
    }

    .course-numeric {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .w-cap2 {
        display: none;
    }

    .s-more {
        display: block;
    }

    .read-button {
        margin-bottom: 5%;
    }

    /* ----------------ready join section style----------------- */

    .ready-join-modal {
        flex-direction: column;
        text-align: center;
    }

    .join {
        font-size: 30px !important;
    }

    .read-demy {
        font-size: 14px;
        padding: 0 12px !important;
        color: whitesmoke !important;
    }

    .register-now {
        margin-top: 13%;
    }

    .name {
        margin-right: 61%;
    }

    .em {
        margin-right: 64%;
    }

    .pass {
        margin-right: 55%;
    }

    /* ----------------success stories section  style----------------- */

    .success-stories>h2 {
        font-size: 35px;
    }

    .success-stories>p {
        font-size: 96%;
    }

    .successors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .success-btn {
        position: relative;
        right: 4%;
    }

    /* ------------------feedback section style --------------------------*/

    .feedback {
        font-size: 35px;
        text-align: center;
        position: relative;
        right: 15%;
    }

    .feedback-section>p {
        font-size: 13px;
        font-weight: 500;
    }

    .each-stu-feedback {
        flex-direction: column;
    }

    .each-stu-feedback1>p {
        text-align: justify;
    }

    .feedback-view-btn {
        display: block;
        margin-top: 5%;
        margin-left: 40%;
    }

    /* ----------------------faq section style ------------------------*/

    .faq {
        font-size: 35px;
        text-align: center;
        position: relative;
        right: 15%;
    }

    .faq-section>p {
        font-size: 12px;
        font-weight: 500;
    }

    /*-------------------- footer section style--------------------- */

    .footer-pro {
        font-size: 30px !important;
    }

}

@media only screen and (min-width:689px) and (max-width:992px) {

    /* --------------navbar section style-------------------- */

    .home-img1 {
        position: relative;
        right: 1%;
    }

    .course-img1 {
        margin-right: 2.5%;
    }

    /* ----------------course section style------------------- */

    .each-course-sec {
        margin-left: 4.5% !important;
    }

    /* ------------------feedback section style----------------- */

    .feedback-view-btn {
        margin-left: 43%;
    }
}

@media only screen and (min-width:993px) and (max-width:1024px) {

    /* --------------navbar section style------------------- */

    .nav-options {
        position: relative;
        right: 13%;
    }

    .nav-button {
        position: relative;
        right: 24%;
    }

    /* -----------------course section style--------------- */

    .each-course-sec {
        width: 90%;
    }

    .course-img {
        width: 20% !important;
    }

    .course-text>h4 {
        font-size: 30px !important;
    }

    .course-text>small {
        font-size: 20px !important;
    }

    .course-text>h6 {
        font-size: 24px;
    }

}